trash/*
.viminfo
.ssh
.vim
.*.sw*
!.ssh/config
/.swp/*
/.undo
/.undo
node_modules
.idea

# webEditor
#vim/web/data
main.shada

.netrwhist
neovide-settings.json
rplugin.vim
main.shada
telescope_history
.local-history
data/sessions
# vim 
vim/cocvim/data
vim/cocvim/coc/
!vim/cocvim/coc/ultisnips/
vim/cocvim/state/log
vim/cocvim/state/undo/

# docs
docs/node_modules

src/runtime/
