trash/*
.viminfo
.ssh
.vim
.*.sw*
!.ssh/config
/.swp/*
/.undo
/.undo
node_modules
.idea

# webEditor
#vim/web/data
main.shada

.netrwhist
neovide-settings.json
rplugin.vim
main.shada
telescope_history
.local-history
data/sessions
# vim 
vim/web/data
vim/cocvim/data
vim/**/list-explPresets-history.json
vim/**/list-explorerActionList-history.json
vim/**/list-explorerFiles-history.json
vim/**/explorer-actions
vim/**/coc/
