trash/*
.viminfo
.ssh
.vim
.*.sw*
!.ssh/config
/.swp/*
/.undo
/.undo
node_modules
.idea

# webEditor
#vim/web/data
main.shada

.netrwhist
neovide-settings.json
rplugin.vim
main.shada
telescope_history
vim/web/data
